<!DOCTYPE html>
<html>
	<head>
		<meta content= 'text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h1> Welcome to the Travlr!</h1>
		<p>See the World. Meet the World.</p>
	</body>
</html>