<div class="row">
	<h1 class="text-center">Inbox</h1>
</div>

<div class="row" id="event">

	<% @messages.sort! {|x, y| y.created_at <=> x.created_at} %>
	<table class="col-md-12 table-striped" id="messages">
	<thead>
		<tr>
			<th> From</th>
			<th> Subject </th>
			<th> Open </th>
		</tr>
	</thead>
	<tbody>
		<% @messages.each do |msg| %>
			<tr>
				<td> <%= User.find(msg.sender_id).user_name %> </td>
				<td> <%= msg.subject %> </td>
				<td> <%= link_to 'View', message_path(msg) %> </td>
			</tr>
		<% end %>
	</tbody>
	</table>
</div>