<h1 class="text-center">All Users</h1>

<div class="row">
  <h3 class="col-md-4 text-center"> Username </h3>
  <h3 class="col-md-4 text-center"> Email </h3>
  <h3 class="col-md-4 text-center"> Actions </h3>
</div>

<% @users.each do |user| %>
  <div class="row">
    <div class="col-md-4 text-center"> <%= user.user_name %> </div>
    <div class="col-md-4 text-center"> <%= user.email %> </div>
    <div class="col-md-4 text-center">
      <%= link_to 'More Info', user_path(user) %>
    </div>
  </div>
<% end %>