<h1 class="text-center">Welcome to The Travlr</h1>

<p>
Welcome to the The Travlr, an application designed to make sure that you can always find the perfect
trip for you! These days, there are hundreds of thousands of trips that are being taken every day and with that many options, it can be hard to figure out which one is the best for you. The Travlr
will use information about you and the type of trip you specify that you want and find the best possible vacation we know about! So what are you waiting for? Sign up today and start traveling smarter!
</p>

<div class="row">
	<div class="col-md-6 text-center"> <%= link_to 'Login', login_path, class: "btn btn-primary btn-lg" %> </div>
	<div class="col-md-6 text-center"> <%= link_to 'Sign Up', new_user_path, class: "btn btn-primary btn-lg" %> </div>
	<div class ="center"><div class="col-md-6 text-center"> <button class: "btn btn-primary btn-lg" id="fb" onclick="fb_login()"> Login with Facebook </button> </div> </div>
	<div id="fb-root"></div>
</div>

<script type="text/javascript">
/* Links to FB SDK for JS */
function fb_login() {

window.fbAsyncInit = function() {
  FB.init({
    appId      : '474944245955765',
    status     : true, // check login status
    cookie     : true, // enable cookies to allow the server to access the session
    xfbml      : true  // parse XFBML
  });

  	FB.Event.subscribe('auth.authResponseChange', function(response) {

    	if (response.status === 'connected') {
     	 	testAPI();
    	} else if (response.status === 'not_authorized') {
      		FB.login();
    	} else {
      		FB.login();
    	}
  	});
};

  // Load the SDK asynchronously
  (function(d){
   var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
   if (d.getElementById(id)) {return;}
   js = d.createElement('script'); js.id = id; js.async = true;
   js.src = "//connect.facebook.net/en_US/all.js";
   ref.parentNode.insertBefore(js, ref);
  }(document));

}

function testAPI() {
	console.log("Welcome to FB");
	FB.api('/me', function(response) {
		alert("Hello " + response.name + " !");
	});
}


</script>